{include header.htm 1}
<table width="100%" border="0" cellpadding="3" cellspacing="1" bgcolor="#000000">
  <tr>
    <td colspan="2" bgcolor="#FFFFFF"><a href="sys_user_main.php">后台管理员管理</a></td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="#FFFFFF">添加管理员 超级管理员不用添加</td>
  </tr><form name="form1" method="post" action="?">
  <tr>
    <td bgcolor="#FFFFFF">用户ID</td>
    <td bgcolor="#FFFFFF"><input name="input[uid]" type="text" id="input[uid]">
      请查看主服务器管理员ID和用户名，并自己保证一致！</td>
  </tr>
  <tr>
    <td width="200" bgcolor="#FFFFFF">用户名</td>
    <td bgcolor="#FFFFFF">
      <input name="input[userid]" type="text" id="input[userid]">
      (字母、数字、_ 3-12位)    </td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF">姓名</td>
    <td bgcolor="#FFFFFF"><input name="input[name]" type="text" id="input[name]"></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF">禁止登录</td>
    <td bgcolor="#FFFFFF"><p>
      <label>
        <input type="radio" name="input[loginban]" value="1">
        禁止登录</label>
      <label>
        <input name="input[loginban]" type="radio" value="0" checked="checked">
        允许登录</label>
    </p></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF">&nbsp;</td>
    <td bgcolor="#FFFFFF"><input type="submit" value="添加用户">
      <input name="Submit" type="hidden" id="Submit" value="1"></td>
  </tr>
  <tr>
    <td colspan="2" bgcolor="#FFFFFF">权限分配 (基于文件名的3级权限控制) //文件太多时会载入慢,Cache done! </td>
    </tr>
  <tr>
    <td colspan="2" bgcolor="#FFFFFF"><table width="100%" border="0" cellpadding="3" cellspacing="1" bgcolor="#000000">
      <tr>
        <td colspan="3" bgcolor="#FFFFFF">权限组选择 权限以前缀判断，选定了上层权限无需选择下层权限。简洁的权限设置能加快权限检测速度</td>
      </tr>
      {foreach authdb k v}
  <tr>
    <td colspan="3" bgcolor="#FFFFFF"><input name="input[priv][]" type="checkbox" id="input[priv][]" value="{:k}"/>
      {:k|GetMsg @}</td>
  </tr>
      {foreach v kk vv}
  <tr>
    <td width="4%" bgcolor="#FFFFFF">|-</td>
    <td colspan="2" bgcolor="#FFFFFF"><input name="input[priv][]" type="checkbox" id="input[priv][]" value="{:kk}"/>
      {:kk|GetMsg @}</td>
  </tr>
  	{if}{:vv|is_array @}{/if}
      {foreach vv kkk vvv}
  <tr>
    <td bgcolor="#FFFFFF">&nbsp;</td>
    <td width="4%" bgcolor="#FFFFFF">|-</td>
    <td bgcolor="#FFFFFF"><input name="input[priv][]" type="checkbox" id="input[priv][]" value="{:kkk}"/>
      {:kkk|GetMsg @}</td>
  </tr>
      {/foreach}
	  {/endif}
      {/foreach}
  <tr>
    <td colspan="3" bgcolor="#FFFFFF">---------------</td>
    </tr>
  

      {/foreach}
    </table></td>
  </tr>
  </form>
</table>
{include footer.htm}