<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={:rtc.language}" />
<title>{:base_config.exam_title}-{:title} - powered by ppframe.com</title>
<link type="text/css" rel="stylesheet" href="{:rtc.sourceurl}css/{:rtc.language}/base_{:rtc.style|GetStyle}.css" />
<link type="text/css" rel="stylesheet" href="{:rtc.sourceurl}passport/{:rtc.language}/{:rtc.style|GetStyle}.css" />

</head>
<body>
<div id="root">
<div id="header">
<div class="topbar tright">
<span>
<a href="http://www.ppframe.com/" target="_blank">首页</a> | <a href="http://blog.ppframe.com/" target="_blank">博客</a> | <a href="http://www.ppframe.com/exam/" target="_blank">在线考试</a></span></div>
<table width="100%" border="0" align="center" cellpadding="3" cellspacing="1">
  <tr>
    <td height="50"><a href="{:base_config.[:MODULE]_root}"><img src="{:rtc.sourceurl}logo.gif" alt="" border="0" /></a></td>
  </tr>
</table>
</div>
<div id="main">