{include header.htm 1}
<form name="form1" method="post" action="">
  <table width="100%" border="0" cellpadding="3" cellspacing="1" bgcolor="#000000">
    <tr>
      <td height="24" colspan="2" bgcolor="#FFFFFF"><strong>删除文件/目录</strong></td>
    </tr>
	<tr>
      <td height="24" bgcolor="#FFFFFF">系统根目录</td>
      <td height="24" bgcolor="#FFFFFF">{:fm->BaseDir}</td>
    </tr>
    <tr>
      <td width="30%" height="24" bgcolor="#FFFFFF">当前工作目录</td>
      <td height="24" bgcolor="#FFFFFF">{:workdir}
        <input name="dir" type="hidden" id="dir" value="{:workdir}"></td>
    </tr>
    <tr>
      <td height="24" bgcolor="#FFFFFF">删除文件/目录（必须为空）名：</td>
      <td height="24" bgcolor="#FFFFFF">{:name}
      <input name="name" type="hidden" id="name" value="{:name}"></td>
    </tr>
    <tr>
      <td height="24" bgcolor="#FFFFFF"><input name="do" type="hidden" id="do" value="{:do}">
      <input name="Submit" type="hidden" id="Submit" value="1" /></td>
      <td height="24" bgcolor="#FFFFFF"><label>
        <input type="submit" name="Submit" value="确定删除{:name}">
      </label></td>
    </tr>
	<tr>
      <td height="24" colspan="2" bgcolor="#FFFFFF">[<a href="file_manage_main.php?dir={:workdir}">返回文件管理</a>]</td>
    </tr>
  </table>
</form>
{include footer.htm}