{include header.htm 1}
<form name="form1" method="post" action="">
  <table width="100%" border="0" cellpadding="3" cellspacing="1" bgcolor="#000000">
    <tr>
      <td height="24" colspan="2" bgcolor="#FFFFFF"><strong>编辑文件</strong></td>
    </tr>
	<tr>
      <td height="24" bgcolor="#FFFFFF">系统根目录</td>
      <td height="24" bgcolor="#FFFFFF">{:fm->BaseDir}</td>
    </tr>
    <tr>
      <td width="30%" height="24" bgcolor="#FFFFFF">当前工作目录</td>
      <td height="24" bgcolor="#FFFFFF">{:workdir}
        <input name="dir" type="hidden" id="dir" value="{:workdir}"></td>
    </tr>
    <tr>
      <td height="24" bgcolor="#FFFFFF">文件名：</td>
      <td height="24" bgcolor="#FFFFFF">{:name}
      <input name="name" type="hidden" id="name" value="{:name}"></td>
    </tr>
    <tr>
      <td height="24" colspan="2" valign="top" bgcolor="#FFFFFF"><label>
        <textarea name="text"id="text" style='width:98%;height:400px'>{:text}</textarea>
      </label></td>
    </tr>
    <tr>
      <td height="24" colspan="2" bgcolor="#FFFFFF"><input name="do" type="hidden" id="do" value="{:do}">        <label>
        <input type="submit" name="Submit" value="提交编辑">
        </label></td>
    </tr>
    <tr>
      <td height="24" colspan="2" bgcolor="#FFFFFF">[<a href="file_manage_main.php?dir={:workdir}">返回文件管理</a>]</td>
    </tr>
  </table>
</form>
{include footer.htm}