题目{:_f_a.th}：{:_f_a.title|nl2br @} {if}{:_f_k|GetTxBaseType @} != 7{/if}得分:{if}{:damix.[:_f_k].[:_f_a.k].df}{/if}{:damix.[:_f_k].[:_f_a.k].df|UseFenSize @,[:fensize],2}{/endif}{if}'{:damix.[:_f_k].[:_f_a.k].df}'=='0'{/if}0{/endif}{if}'{:damix.[:_f_k].[:_f_a.k].df}'==''{/if}未评{/endif}{if}{:_f_k|GetTxBaseType @}!= 4{/if}/{:_f_a.fen|UseFenSize @,[:fensize],2}{/endif}{/endif} {if}'{:damix.[:_f_k].[:_f_a.k].df}' != '{:_f_a.fen}'{/if}<font color="#FF0000"><strong>答错了</strong>！</font>{/endif} <br />
{if}{:_f_k|GetTxBaseType @}!= 4 &&{:_f_k|GetTxBaseType @}!= 7{/if}
	  {/endif}
	  {if}
	  {:_f_k|GetTxBaseType @} == 1 || {:_f_k|GetTxBaseType @} == 4
	  {/if}
		{+AZ 65 1 1}
		{foreach _f_a.xx kkk vvv}
              {if}'{:damix.[:_f_k].[:_f_a.k].da}'=='{:vvv.k}'{/if}●{/endif}{else}○{/else}{:kkk|chr [+AZ 65 1]}:{:vvv.xx|nl2br @} {if}'{:_f_a.daan}'=='{:vvv.k}'{/if}<font color="#FF0000">√</font>{/endif} {if}{:k|GetTxBaseType @}== 4{/if}选择得{:vvv.fen|UseFenSize @,[:fensize],2}分{/endif}<br />
		      {/foreach}
<br />
解答:{:vvv.jieda}
 <br />
	  {/endif}
	  {if}
	  {:_f_k|GetTxBaseType @} == 2
	  {/if}
		{+AZ 65 1 1}
		{foreach _f_a.xx kkk vvv}
            {if}{:damix.[:_f_k].[:_f_a.k].da|in_array [:vvv.k],@}{/if}■{/endif}{else}□{/else}{:kkk|chr [+AZ 65 1]}:{:vvv.xx|nl2br @} {if}{:_f_a.daan|in_array [:vvv.k],@}{/if} <font color="#FF0000">√</font> {/endif} <br />
		{/foreach}<br />

解答:{:vvv.jieda}<br />
	  {/endif}
	  {if}
	  {:_f_k|GetTxBaseType @} == 3
	  {/if}
Answer: {:damix.[:_f_k].[:_f_a.k].da}<br />
参考答案: {:_f_a.daan}<br />
参考解答: {:_f_a.jieda}<br />
	  {/endif}
	  {if}
	  {:_f_a.sun}
	  {/if}
	  <div style="border:1px solid #B6D9E3;margin:4px auto 8px;">{foreach _f_a.sun sk sv} {foreach sv skk svv}{:svv|GetExamShitiView [:sk],@,[:_f_t],fun_examdown_view}{/foreach}{/foreach}</div>
	  {/endif}