{include passport_header 1}
<div><table width="100%" border="0" cellspacing="1" cellpadding="3">
  <tr>
    <td width="24%" valign="top">{include left 1} </td>
    <td valign="top">
	<div class="box">
	<table width="100%" border="0" cellspacing="1" cellpadding="3">
  <tr class="h">
    <td>可以申请加入的班级</td>
  </tr>
  {if}
  {:base_need}
  {/if}
  <tr>
    <td><strong>自然班</strong>(只能加入一个自然班)</td>
  </tr>
  {foreach base_class k v}
  <tr>
    <td>{:v.classname} <a href="apply_class_do.php?id={:v.id}">加入</a></td>
  </tr>
  {/foreach}
  {/endif}
  <tr>
    <td><strong>课程班</strong>(可以加入多个课程班)</td>
  </tr>
  {foreach add_class k v}
  <tr>
    <td>{:v.classname} <a href="apply_class_do.php?id={:v.id}">加入</a></td>
  </tr>
  {/foreach}
</table>

	</div>
	 </td>
  </tr>
</table>
</div>
{include passport_footer 1}