{include passport_header 1}
<div>
  <table width="100%" border="0" cellspacing="1" cellpadding="3">
    <tr>
      <td width="24%" valign="top">{include left 1} </td>
      <td valign="top"><div class="box">
        <table width="100%" border="0" cellspacing="1" cellpadding="3">
          <form id="form1" name="form1" method="post" action="{:FormToSelf}">
            <tr>
              <td colspan="2" class="h">修改密码</td>
            </tr>
            <tr class="t2">
              <td width="24%"><span class="key">原密码</span></td>
              <td><span class="value">
                <input name="oldpass" type="password" id="oldpass" />
              </span></td>
            </tr>
            <tr class="t2">
              <td>新密码</td>
              <td><span class="value">
                <input name="password" type="password" id="password" />
              </span></td>
            </tr>
            <tr class="t2">
              <td>确认新密码</td>
              <td><span class="value">
                <input name="password2" type="password" id="password2" />
              </span></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><input type="submit" value="提交" class="button"/>
                <input name="Submit" type="hidden" id="Submit" value="1" /></td>
            </tr>
          </form>
        </table>
      </div></td>
    </tr>
  </table>
</div>
{include passport_footer 1}