{include header.htm 1}
<table width="100%" border="0" cellpadding="3" cellspacing="1" bgcolor="#000000">
  <tr>
    <td width="700" height="24" bgcolor="#FFFFFF"><strong>调整用户积分</strong></td>
  </tr>
  <form name="form1" action="{:FormToSelf}">
  <tr>
    <td height="24" bgcolor="#FFFFFF">用户ID：
      <input name="uid" type="text" id="uid" value="{:uid}" size="8">
       或者用户名
       <input name="username" type="text" id="username" value="{:username}" size="15" />
       货币种类 
       <select name="mtype">
	  {foreach rtc.passport_money k v}
      <option value="{:v}" {if}{:mtype}=={:v}{/if}selected="selected"{/endif}>{:money_types.[:v]}|{:money_types.[:v]|GetMsg @}</option>
	   {/foreach}
    </select>    </td>
  </tr>
  <tr>
    <td height="24" bgcolor="#FFFFFF">调整
      <input name="num" type="text" id="num">
      减少请输入负数</td>
  </tr>
  <tr>
    <td height="24" bgcolor="#FFFFFF">备注
      <textarea name="bz" cols="40" id="bz"></textarea></td>
  </tr>
  <tr>
    <td height="24" bgcolor="#FFFFFF"><input type="submit" value="调整">
      <input name="Submit" type="hidden" id="Submit" value="1"></td>
  </tr>
  </form>
</table>
{include footer.htm}
