{include header.htm 1}
<table width="100%" border="0" cellpadding="3" cellspacing="1" bgcolor="#000000">
  <tr>
    <td height="24" colspan="2" bgcolor="#FFFFFF"><strong>添加班级</strong> <a href="user_class_main.php">班级管理</a></td>
  </tr>
  <form name="form1" action="{:FormToSelf}">
  <tr>
    <td width="125" height="24" bgcolor="#FFFFFF">班级名称</td>
    <td width="660" bgcolor="#FFFFFF"><input name="input[classname]" type="text" id="input[classname]" value="{:E.classname}"></td>
  </tr>
  <tr>
    <td height="24" bgcolor="#FFFFFF">年级</td>
    <td bgcolor="#FFFFFF"><select name="input[grade]" id="input[grade]">
      <option value="">请选择年级</option>
	  {foreach grades k v}
      <option value="{:v}" {if}'{:v}'=='{:E.grade}'{/if}selected{/endif}>{:v}级</option>
	{/foreach}
    </select>
      (自然班必须从属于一个年级，课程班无效)</td>
  </tr>
  <tr>
    <td height="24" bgcolor="#FFFFFF">院系</td>
    <td bgcolor="#FFFFFF">{:a|GetCollegesLister|GetTreeSelect @,input[cid],[:E.cid],id,name,请选择院系} <a href="college_main.php">院系管理</a>(自然班必须从属于一个院系)</td>
  </tr>
  <tr>
    <td height="24" bgcolor="#FFFFFF">属性</td>
    <td bgcolor="#FFFFFF"><!--{if}{:E.ctype}==0{/if}--><strong>自然班</strong><!--{/endif}{else}--><strong>课程班</strong><!--{/else}--></td>
  </tr>
  <tr>
    <td height="24" bgcolor="#FFFFFF">允许用户申请加入</td>
    <td bgcolor="#FFFFFF"><input name="input[allowapply]" type="radio" value="1" {if}{:E.allowapply}==1{/if}checked{/endif}>
      允许 
        <input name="input[allowapply]" type="radio" id="radio" value="0" {if}{:E.allowapply}==0{/if}checked{/endif}>
      不允许 </td>
  </tr>
  <tr>
    <td height="24" bgcolor="#FFFFFF">加入需要花费</td>
    <td bgcolor="#FFFFFF"><input name="input[apmoney]" type="text" id="input[apmoney]" value="{:E.apmoney}" size="10">
      <select name="input[apmtype]" id="input[apmtype]">
	  {foreach rtc.passport_money k v}
        <option value="{:v}" {if}'{:v}'=='{:E.apmtype}'{/if}selected{/endif}>{:money_types.[:v]}|{:v|GetMoneyName @}</option>
	   {/foreach}
      </select>      </td>
  </tr>
  <tr>
    <td height="24" bgcolor="#FFFFFF">加入审核</td>
    <td bgcolor="#FFFFFF"><input name="input[applysh]" type="radio" value="1" {if}{:E.applysh}==1{/if}checked{/endif}>
      需要 
        <input name="input[applysh]" type="radio" value="0" {if}{:E.applysh}==0{/if}checked{/endif}>
      不需要 </td>
  </tr>
  <tr>
    <td height="24" bgcolor="#FFFFFF">&nbsp;</td>
    <td bgcolor="#FFFFFF"><input type="submit" value="修改">
      <input name="Submit" type="hidden" id="Submit" value="1">
      <input name="id" type="hidden" id="id" value="{:id}"></td>
  </tr>
  </form>
</table>
{include footer.htm}
