{include header.htm 1}
<table width="100%" border="0" cellpadding="3" cellspacing="1" bgcolor="#000000">
  <tr>
    <td height="24" colspan="2" bgcolor="#FFFFFF">添加会员 <a href="user_main.php">会员管理</a> </td>
  </tr><form name="form1" method="post" action="{:FormToSelf}">
  
  <tr>
    <td width="100" height="24" bgcolor="#FFFFFF">用户名</td>
    <td width="300" bgcolor="#FFFFFF"><input name="input[username]" type="text" id="input[username]"></td>
  </tr>
  <tr>
    <td height="24" bgcolor="#FFFFFF">Email</td>
    <td bgcolor="#FFFFFF">
      <input name="input[email]" type="text" id="input[email]">    </td>
  </tr>
  <tr>
    <td height="24" bgcolor="#FFFFFF">密码</td>
    <td bgcolor="#FFFFFF"><input name="input[password]" type="text" id="input[password]"></td>
  </tr>
  <tr>
    <td height="24" bgcolor="#FFFFFF">真实姓名</td>
    <td bgcolor="#FFFFFF"><input name="input[u_name]" type="text" id="input[u_name]" /></td>
  </tr>
  <tr>
    <td height="24" bgcolor="#FFFFFF">证件号码</td>
    <td bgcolor="#FFFFFF"><input name="input[u_cardid]" type="text" id="input[u_cardid]" />
      <select name="input[u_cardtype]" id="input[u_cardtype]">
        <option value="0" selected="selected">身份证</option>
        <option value="1">其他</option>
      </select>
      </td>
  </tr>
  <tr>
    <td height="24" bgcolor="#FFFFFF">实名认证</td>
    <td bgcolor="#FFFFFF"><input type="radio" name="input[u_namecheck]" value="1" />
      是 
      <input type="radio" name="input[u_namecheck]" value="0" />
      否</td>
  </tr>
  <tr>
    <td height="24" bgcolor="#FFFFFF">有效期</td>
    <td bgcolor="#FFFFFF"><input name="input[u_expired]" type="text" id="input[u_expired]" value="0" size="10" />
      天 0为永久 </td>
  </tr>
  <tr>
    <td height="24" bgcolor="#FFFFFF">用户组</td>
    <td bgcolor="#FFFFFF"> {:_usergroup|GetRadioLister @,input[group],,id,name}</td>
  </tr>
  <tr>
    <td height="24" bgcolor="#FFFFFF">附加用户组</td>
    <td bgcolor="#FFFFFF"> {:_usergroup|GetCheckboxLister @,input[groups],,id,name}</td>
  </tr>
  <tr>
    <td height="24" bgcolor="#FFFFFF">院系</td>
    <td bgcolor="#FFFFFF">{:a|GetCollegesLister|GetTreeSelect @,input[u_cid],,id,name,请选择院系,onchange="loadZhuanye();loadClass();"}  <a href="college_main.php">院系管理</a></td>
  </tr>
  <tr>
    <td height="24" bgcolor="#FFFFFF">专业</td>
    <td bgcolor="#FFFFFF"><span id="st_zhuanye">{:a|GetProfessionalLister|GetTreeSelect @,input[u_pid],,id,pname,请选择专业}</span>  <a href="professional_main.php">专业管理</a></td>
  </tr>
  <tr>
    <td height="24" bgcolor="#FFFFFF">年级</td>
    <td bgcolor="#FFFFFF">{:a|GetGrades|GetEasySelect @,input[grade],[:view_user.grade],请选择年级,onchange=&quot;loadClass();&quot;}</td>
  </tr>
  <tr>
    <td height="24" bgcolor="#FFFFFF">自然班级</td>
    <td bgcolor="#FFFFFF"><span id="st_class">{:a|GetStudentClassList 0|GetTreeSelect @,input[class],,id,classname,请选择班级} </span> <a href="user_class_main.php">班级管理</a></td>
  </tr>
  <tr>
    <td height="24" bgcolor="#FFFFFF">课程班级</td>
    <td bgcolor="#FFFFFF">	  {:a|GetStudentClassList 1|GetCheckboxLister @,input[classes],,id,classname}</td>
  </tr>
  <tr>
    <td height="24" bgcolor="#FFFFFF">部门职位</td>
    <td bgcolor="#FFFFFF">{:a|GetBussTreeList|GetTreeList @,fun_gettreelist_userbuss}&nbsp;担任职位
      <input name="input[u_position]" type="text" id="input[u_position]" value="{:view_user.u_position}" /></td>
  </tr>
  <tr>
    <td height="24" colspan="2" bgcolor="#FFFFFF"><strong>自定义字段</strong></td>
    </tr>
  {foreach selfdef_fields k v}
  <tr>
    <td height="24" bgcolor="#FFFFFF">{:v.0|GetMsg @}</td>
    <td bgcolor="#FFFFFF"><input name="input[{:v.0}]" type="text" id="input[{:v.0}]" {if}'{:v.0|ereg _no_,@}' && '{:passport-&gt;U.[:v.0]}'{/if}disabled="disabled"{/endif}/></td>
  </tr>
  {/foreach}
  <tr>
    <td height="24" bgcolor="#FFFFFF">&nbsp;</td>
    <td bgcolor="#FFFFFF"><input name="submit" type="submit" value="添加" />
      <input name="Submit" type="hidden" id="Submit" value="1" /></td>
  </tr>
  </form>
  <tr>
    <td height="24" colspan="2" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
</table>
<script language="javascript">
function loadZhuanye() {
	if(parseInt($('input[u_cid]').value) > 0) {
		var url = 'ajax_loadzhuanye.php?cid=' + $('input[u_cid]').value;
		ajaxLoadUrl(url,$('st_zhuanye'));
	}
}

function loadClass() {
	var cid = parseInt($('input[u_cid]').value);
	var grade = parseInt($('input[grade]').value);
	if(cid > 0 || grade) {
		var url = 'ajax_loadclass.php?cid=' + cid + '&grade=' + grade;
		ajaxLoadUrl(url,$('st_class'));
	}
}
</script>
{include footer.htm}
