BODY {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	PADDING-TOP: 0px;
}
A {
	COLOR: #223288
}
A:link {
	COLOR: #223288
}
A:visited {
	COLOR: #223288
}
A:hover {
	COLOR: #ff6600
}
#loginBody {
	BACKGROUND: url(../images/login_bigbg.gif) #b0c7e1 repeat-x; BORDER-BOTTOM: #fff 1px solid; HEIGHT: 100%
}
#loginFoot {
	BACKGROUND: #000000; TEXT-ALIGN: center
}
#copyright {
	MARGIN: 0px auto; FONT: 0.7em/300% Verdana; COLOR: #ddd
}
#loginForm {
	
}
#loginForm TABLE {
	FONT: 14px 'ËÎÌå'; COLOR: #fff
}
#loginForm LABEL {
	PADDING-LEFT: 3px
}
#loginForm INPUT {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; FONT: 14px 'ËÎÌå'; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid; HEIGHT: 22px
}
#loginForm INPUT:focus {
	BORDER-RIGHT: #fe8101 1px solid; BORDER-TOP: #fe8101 1px solid; BORDER-LEFT: #fe8101 1px solid; BORDER-BOTTOM: #fe8101 1px solid
}
#loginForm BUTTON {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: medium none; WIDTH: 222px; PADDING-TOP: 0px; BORDER-BOTTOM: medium none
}
.login_tips {
	BORDER-RIGHT: #ebebeb 1px solid; BORDER-TOP: #ebebeb 1px solid; FONT-SIZE: 12px; BORDER-LEFT: #ebebeb 1px solid; WIDTH: 270px; COLOR: #e9e9e9; BORDER-BOTTOM: #ebebeb 1px solid; BACKGROUND-COLOR: #3088c9
}
.login_tips TH {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; COLOR: #ffffff; PADDING-TOP: 5px; BACKGROUND-COLOR: #005595; TEXT-ALIGN: left
}
.login_tips TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; PADDING-TOP: 10px
}
.login_tipst {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.signin {
	MARGIN-TOP: -3px; FONT-SIZE: 12px
}
.signin TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.page_id {
	PADDING-LEFT: 300px
}
#d1 A {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; DISPLAY: block; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: #666; FILTER: alpha(opacity=70); FLOAT: left; MARGIN: 2px; BORDER-LEFT: #ffffff 1px solid; WIDTH: 20px; COLOR: #fff; LINE-HEIGHT: normal; PADDING-TOP: 3px; BORDER-BOTTOM: #ffffff 1px solid; FONT-STYLE: normal; HEIGHT: 20px; TEXT-ALIGN: center; FONT-VARIANT: normal; TEXT-DECORATION: none; opacity: .4
}
#d1 A:hover {
	BACKGROUND: #000
}
.login_news {
	PADDING-LEFT: 10px; FONT-SIZE: 12px; MARGIN: 0px; WIDTH: 230px; COLOR: #ffffff; PADDING-TOP: 12px; HEIGHT: 164px; TEXT-ALIGN: left
}
.login_news A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.login_news A:link {
	COLOR: #ffffff
}
.login_news A:visited {
	COLOR: #ffffff
}
.login_news A:hover {
	COLOR: #ff6600
}
.login_news IMG {
	MARGIN-RIGHT: 0px
}
.login_news_tit {
	
}
.login_news UL {
	MARGIN-TOP: 7px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 2px
}
.login_news LI {
	MARGIN-BOTTOM: 4px; COLOR: #ffffff; LINE-HEIGHT: 15px; LIST-STYLE-TYPE: none
}
.newsmore {
	PADDING-LEFT: 180px
}
#d1 A {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; DISPLAY: block; FONT-WEIGHT: normal; FONT-SIZE: 12px; BACKGROUND: #666; FILTER: alpha(opacity=70); FLOAT: left; MARGIN: 2px; BORDER-LEFT: #ffffff 1px solid; WIDTH: 20px; COLOR: #fff; LINE-HEIGHT: normal; PADDING-TOP: 3px; BORDER-BOTTOM: #ffffff 1px solid; FONT-STYLE: normal; HEIGHT: 20px; TEXT-ALIGN: center; FONT-VARIANT: normal; TEXT-DECORATION: none; opacity: .4
}
#d1 A:hover {
	BACKGROUND: #000
}
.errmsg {
	LEFT: 12px; FONT: 12px "ËÎÌå"; COLOR: red! important; POSITION: absolute; TOP: -16px; HEIGHT: 16px
}
.free_reg {
	