{include header.htm 1}
<table width="100%" border="0" cellpadding="3" cellspacing="1" bgcolor="#000000">
  <tr>
    <td height="24" colspan="5" bgcolor="#FFFFFF"><a href="shijuan_xt_view.php?id={:id}">[查看已选题]</a> <a href="shijuan_main.php">[试卷管理]</a></td>
  </tr>
  <tr>
    <td width="30" bgcolor="#FFFFFF">选择</td>
    <td width="360" height="24" bgcolor="#FFFFFF">标题</td>
    <td width="100" bgcolor="#FFFFFF">类型</td>
    <td width="200" bgcolor="#FFFFFF">标签</td>
    <td width="110" bgcolor="#FFFFFF">操作</td>
  </tr>
  <form name="form_all" id="form_all" onsubmit="return false;">
  {foreach lister_exam_shiti k v}
  <tr>
    <td bgcolor="#FFFFFF"><input name="to__checkall__" type="checkbox" id="to__checkall__" onclick="addcheckid(this,{:v.id})" value="{:v.id}"/></td>
    <td height="24" bgcolor="#FFFFFF">{:v.title}</td>
    <td height="24" bgcolor="#FFFFFF">{:v.type|GetShitiType @}</td>
    <td height="24" bgcolor="#FFFFFF">{:v.tag}</td>
    <td bgcolor="#FFFFFF"><span id="info_{:k}"><a href="javascript:;" onClick="select_shiti({:v.id});">选题</a></span></td>
  </tr>
  {/foreach}
  </form>
  <tr>
    <td height="24" colspan="5" bgcolor="#FFFFFF"><input type="checkbox" name="checkbox2" value="checkbox" onclick="check(document.form_all)" />
全选/反选 <span id="do_refresh"><a href="javascript:;" onclick="selects();">选择选中试题</a></span></td>
  </tr>
  <tr>
    <td height="24" colspan="5" bgcolor="#FFFFFF">{:pagelink}</td>
  </tr><form action="" name="formpagesize" id="formpagesize" onsubmit="formaddpagesize(this.pagesize.value);return false;">
  <tr>
    <td height="24" colspan="5" bgcolor="#FFFFFF">每页显示
      <input name="pagesize" type="text" id="pagesize" value="{:pagesize}" size="6" />
条
<input type="submit" value="提交" /></td>
  </tr></form>
  <form name="form2" action="{:FormToSelf}">
  <tr>
    <td height="24" colspan="5" bgcolor="#FFFFFF">
    
       
        类型
        <select name="type" id="type">
		<option value="">请选择类型</option>
		{foreach tixing_db k v}
		{if}
		({:xinli} && {:k} == 4 )|| ({:xinli}==0 && {:k} != 4)
		{/if}
          <option value="{:k}" {if}'{:k}'=='{:type}'{/if}selected{/endif}>{:v|GetMsg @}</option>
		  {/endif}
		 {/foreach}
        </select>
        Tag 
        <input name="tag" type="text" id="tag" value="{:tag}" size="15">
              精确匹配
              <input name="jq" type="checkbox" id="jq" value="1" {if}{:jq}{/if}checked="checked"{/endif} />
              <input type="submit" value="提交">
              <input name="id" type="hidden" id="id" value="{:id}"></td>
  </tr>
</form>
<tr>
    <td height="24" colspan="5" bgcolor="#FFFFFF"><strong>警告：试卷选定并生成开放后，请勿随意修改，否则再次生成后将迅速影响到使用这份试卷测试的所有考卷。</strong></td>
  </tr>
</table>
<script src="{:rtc.sourceurl}ajax.js">
</script>
<script language="javascript">
var done = 0;
var selnum = 0;
function select_shiti(id) {
	var ajax;
	var container = $('info_'+id);
	ajax = new Ajax(container);
	ajax.doOpen('GET','ajax_shijuan_xt_add.php?id='+ id + '&sjid={:id}');
	ajax.doSend();
	if(done > 0) {
		done -= 1;
		if(done == 0) {
			$('do_refresh').innerHTML = '操作已完成 <a href=' + window.location + '>点击刷新</a>';
			setTimeout('window.location.href=window.location;',500);
		}
	}
}
var checkflag = "false";
var ids = {};
function check(field) {
	if (checkflag == "false") {
		for (i = 0; i < field.length; i++) {
			if(field[i].name.indexOf('__checkall__')==2) {
				field[i].checked = true;
				addid(field[i].value);
			}
		}
		checkflag = "true";
		return "false";
	}
	else {
		for (i = 0; i < field.length; i++) {
			if(field[i].name.indexOf('__checkall__')==2) {
				field[i].checked = false;
				delid(field[i].value);
			}
		}
		checkflag = "false";
		return "true"; 
	}
}

function addid(id) {
	eval('ids.id' + id + '=' + id + ';');
	++ selnum;
}

function delid(id) {
	eval('delete(ids.id' + id + ');');
	-- selnum;
}

function addcheckid(i,id) {
	if(i.checked) addid(id);
	else delid(id);
}

function selects() {
	if(selnum>0) {
		foreachjson();
		$('do_refresh').innerHTML = '操作中，请稍后';
	}else {
		alert('请选择试题');
		return false;
	}
}

function foreachjson() {
	var t = 10;
	for(var e in ids) {
		var s = "select_shiti(ids." + e + ")";
		setTimeout(s,t);
		done += 1;
		t += 200;	//延迟200毫秒
	}
}
</script>
{include footer.htm 1}