</div>
<div id="bottom">
<table width="100%" border="0" align="center" cellpadding="3" cellspacing="1">
  <tr>
    <td align="center">
	<small><span>Total {:a|GetExamRunTime}(s) query {:_db_q}, Time now is:{:a|GetMyDate Y-m-d H:i:s}</span></small><br />
	<span>Powered by <a href="http://www.ppframe.com/" target="_blank">PPFrame</a> Code &copy; 2008-2009 <a href="http://www.ppframe.com/" target="_blank">PPFrame.com</a></span></td>
  </tr>
</table>
</div>
<div id="footer">
  <a href="javascript:scroll(0,0);">Top</a></div>
</div>
</div>
<div style="display:none">
<script language="javascript" type="text/javascript" src="http://js.users.51.la/1879739.js"></script>
<noscript><a href="http://www.51.la/?1879739" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/1879739.asp" style="border:none" /></a></noscript>
</div>
</body>
</html>
