{include header.htm 1}
<form action="{:FormToSelf}" method="post" name="form1" id="form1">
  <table width="100%" border="0" cellpadding="3" cellspacing="1" bgcolor="#000000">
    <tr>
      <td height="24" colspan="2" bgcolor="#FFFFFF"><strong>修改试题</strong> <a href="my_shiti.php">我出的题</a> </td>
    </tr>
    <tr>
      <td height="24" colspan="2" bgcolor="#FFFFFF"> [{:type|GetShitiType @}]</td>
    </tr>
	<tr>
      <td width="180" height="24" bgcolor="#FFFFFF">命题:</td>
      <td bgcolor="#FFFFFF">{if}{:base_config.exam_use_editor}{/if}{:element_exam_shiti.title|CreateExamFCKEditor shiti[title],@,[:editor_higth],[:editor_width],[:editor_toolbar]}{/endif}{else}
      <textarea name="shiti[title]" cols="40" rows="4" id="shiti[title]">{:element_exam_shiti.title}</textarea>{/else}</td>
    </tr>
	{if}
	{:type|GetTxBaseType @} != 3 && {:type|GetTxBaseType @} != 7
	{/if}
    <tr>
      <td height="24" bgcolor="#FFFFFF">选项:</td>
      <td bgcolor="#FFFFFF"><table width="100%" border="0" cellspacing="1" cellpadding="3">
        {foreach element_exam_shiti.xx k v}
		<tr>
          <td>
            <textarea name="shiti[xx][{:k}][xx]" cols="40" id="shiti[xx][{:k}][xx]">{:v.xx}</textarea>
           {if}{:type|GetTxBaseType @}==4{/if} 分值:
            <input name="shiti[xx][{:k}][fen]" type="text" id="shiti[xx][{:k}][fen]" value="{:v.fen}" size="6"> 
            {/endif}
            {if}{:type|GetTxBaseType @}==2{/if}设为答案
			<input name="shiti[da][]" type="checkbox" id="shiti[da][]" value="{:k}" {:checked.daan.[:k]}>
			{/endif}
            {if}{:type|GetTxBaseType @}==1 {/if}设为答案
			<input name="shiti[da]" type="radio" value="{:k}" {if}{:element_exam_shiti.daan} == {:k}{/if}checked{/endif}>
			{/endif}</td>
        </tr>
		{/foreach}
		<tr>
          <td>
            <textarea name="shiti[xx][{:k|PlusPlus @}][xx]" cols="40" id="shiti[xx][{:k|PlusPlus @}][xx]"></textarea>
           {if}{:type|GetTxBaseType @}==4{/if} 分值:
            <input name="shiti[xx][{:k|PlusPlus @}][fen]" type="text" id="shiti[xx][{:k|PlusPlus @}][fen]" size="6"> 
            {/endif}
            {if}{:type|GetTxBaseType @}==2{/if}设为答案
			<input name="shiti[da][]" type="checkbox" id="shiti[da][]" value="{:k|PlusPlus @}">
			{/endif}
            {if}{:type|GetTxBaseType @}==1 {/if}设为答案
			<input name="shiti[da]" type="radio" value="{:k|PlusPlus @}" >
			{/endif}</td>
        </tr>
      </table>      </td>
    </tr>
	{/endif}
	{if}
	{:type|GetTxBaseType @}==3
	{/if}
    <tr>
      <td height="24" bgcolor="#FFFFFF">答案:</td>
      <td bgcolor="#FFFFFF"><textarea name="shiti[daan]" cols="40" rows="4" id="shiti[daan]">{:element_exam_shiti.daan}</textarea></td>
    </tr>
	{/endif}
    <tr>
      <td height="24" bgcolor="#FFFFFF">解答:</td>
      <td bgcolor="#FFFFFF"><textarea name="shiti[jieda]" cols="40" rows="4" id="shiti[jieda]">{:element_exam_shiti.jieda}</textarea></td>
    </tr>
	{if}
	{:type|GetTxBaseType @} != 7
	{/if}
    <tr>
      <td height="24" bgcolor="#FFFFFF">分值:</td>
      <td bgcolor="#FFFFFF"><input name="shiti[fen]" type="text" id="shiti[fen]" value="{:element_exam_shiti.fen}"></td>
    </tr>
    <tr>
      <td height="24" bgcolor="#FFFFFF">答错扣分：</td>
      <td bgcolor="#FFFFFF"><input name="shiti[kf]" type="text" id="shiti[kf]" value="{:element_exam_shiti.kf}" /></td>
    </tr>
	{/endif}
    <tr>
      <td height="24" bgcolor="#FFFFFF">加入题库:</td>
      <td align="center" bgcolor="#FFFFFF"><table width="98%" border="0" cellpadding="3" cellspacing="1" bgcolor="#000000">
		{foreach tiku_lister k v}
		{if}
		'{:k}' == '{:tiku}'
		{/if}
          <tr>
            <td align="left" bgcolor="#FFFFFF"><input name="shiti[tiku][top]" type="radio" id="shiti[tiku][top]" value="{:k}" checked>
              {:v.name}<br>
             {foreach v.sun kk vv}
			  <input name="shiti[tiku][{:k}][]" type="checkbox" id="shiti[tiku][{:k}][]" value="{:vv.id}" {:checked.tiku.[:vv.id]}>
			  {:vv.name}
              
			  {/foreach}			  </td>
          </tr>
		  {/endif}
		  {/foreach}
      </table></td>
    </tr>
    <tr>
      <td height="24" bgcolor="#FFFFFF">试题分级:</td>
      <td bgcolor="#FFFFFF"><input name="shiti[level]" type="text" id="shiti[level]" value="{:element_exam_shiti.level}"></td>
    </tr>
    <tr>
      <td height="24" bgcolor="#FFFFFF">标签:</td>
      <td bgcolor="#FFFFFF"><input name="shiti[tag]" type="text" id="shiti[tag]" value="{:element_exam_shiti.tag|trim @}"></td>
    </tr>
    <tr>
      <td height="24" bgcolor="#FFFFFF">&nbsp;</td>
      <td bgcolor="#FFFFFF"><input type="submit" name="Submit" value="提交" />
        <input name="Submit" type="hidden" id="Submit" value="1">
        <input name="id" type="hidden" id="id" value="{:id}">
      <input name="tiku" type="hidden" id="tiku" value="{:tiku}"></td>
    </tr>
  </table>
</form>
{include footer.htm 1}