@charset "utf-8";
/* CSS Document */
.btn {height:24px; padding:2px 2 0 2; border:1px solid #34a7db; background:url(../images/ppframe/input_bg3.jpg);  font-size:12px; color:#000;}
.btn1 {height:24px; padding:2px 2 0 2; border:1px solid #dea303; background:url(../images/ppframe/input_bg3_.jpg); font-size:12px;color:#000;cursor:pointer;}